html, body {
  background-color: #000;
  margin: 10px;
  font-size: 20px;
  color: #fff;
  box-sizing: border-box; 
  }
.header > div {
  display: flex;
  font-size: 1em;
  padding: 10px 20px;
}

.header{
  background-color: #000;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.header:hover {
  background-color: #18232e; /* Slightly lighter background color on hover */
  transform: scale(1.01); /* Slight scaling for a subtle effect */
}
.content-grid {
  background-color: #000;
}
.footer {
  background-color: #5e1e1e;
}

.header, .trailers, .trending-now{
  font-size: 30px;
  align-items: center;
}

a {
  color:#fff;
  text-decoration: none;
  font-weight: 600;
}