.grid-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 500px 40px auto 100px;
}
.header {
    grid-column: 1 / -1;
    display: flex;
}
.header > div{
    margin-right: 15px;
}
.header > div:nth-child(2) {
    margin-left: auto;
}

.video-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    width: 100%;            /* Full width */
    height: 100%; 
}

.youtube-video {
    width: 100%;              /* Make video take full width of container */
    height: 100%;             /* Make video take full height of container */
    object-fit: cover;        /* Ensures the video fills the container while maintaining aspect ratio */
    aspect-ratio: 16 / 9;
    border-radius: 25px; /* Optional styling */
    padding: 20px;            /* Adds space around the video */
    box-sizing: border-box;   /* Ensures padding is included in the container size */
}

.trending-now{
    grid-column: 1 / -1;
}
/* Picture Grid */
.content-grid {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Flexible grid */
    gap: 5px; /* Space between items */
    padding-right: 75px;
}

.posters > figure {
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7), 0 -4px 6px rgba(0, 0, 0, 0.7);
    transition: 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
}


figure:hover {
    box-shadow: 0 8px 12px rgba(228, 228, 228, 0.9), 0 -8px 12px rgba(228, 228, 228, 0.9);
}

img {
    width: 100%; /* Allow the image to scale to the container */
    height: 250%; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images fill the grid cell neatly */
}


figcaption {
    text-align: center;
    padding: 10px;
    background-color: #000;
    font-size: 1rem;
}

.footer {
    grid-column: 1 / -1;
}

.footer > p{
    text-align: center;
    margin-top: 20px;
}


